<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 style="text-align: center">
                    注册成功！
                </h2 >
                <p style="text-align: center">
                    您的注册已经提交至管理员页面，请等待管理员审核通过。<br>
                    如果您填写了邮箱，将会通过邮箱通知您。
                </p>
                <p style="margin: auto;text-align: center">
                    <a class="btn btn-primary btn-large" href="#">点击返回首页</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>